<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>视频播放</title>
	<link rel="shortcut icon" href="../../../images/favicon.ico" />
	<link rel="stylesheet" href="../../../3rd/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../../3rd/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../../../css/default.css" />
	<link rel="stylesheet" href="../../../css/animations.css">
    <link rel="stylesheet" href="./css/index.css"/>
	<script type="text/javascript" src="../../../3rd/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../../3rd/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../../3rd/sewise/sewise.player.min.js"></script>
	<script type="text/javascript" src="../../../js/central.proxy.js"></script>
    <script type="text/javascript" src="../../../js/nova.utils.js"></script>
	<script type="text/javascript" src="../../../js/util.js"></script>
	<script type="text/javascript" src="./js/index.js"></script>

    <style>
    </style>
</head>

<body>
    <div class="player-pane player-container">
    	<div class="area">
	        <h2 class="area-title">视频汇聚</h2>
	    </div>
	    <div class="video-billboard">
		    <div class="video-container">
			    <div class="player" id="player">
			    </div>
			    <div class="player-shadow">
			    	<span class="name">视频名称</span>
			    </div>
			</div>
			<div class="video-list-horizontal">
				<div class="video-list">
				</div>
			</div>
			<div class="video-list-vertical">
				<h1 class="title">热门视频</h1>
				<div class="video-list">
				</div>
			</div>
	    </div>
	</div>
</body>

</html>