<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>融媒体指挥中心 - 今日选题</title>
	<link rel="shortcut icon" href="../../../images/favicon.ico" />
	<link rel="stylesheet" href="../../../3rd/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../../css/default.css" />
    <link rel="stylesheet" href="./css/index.css"/>
	<script type="text/javascript" src="../../../3rd/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../../3rd/jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../../3rd/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../../js/util.js"></script>
	<script type="text/javascript" src="../../../js/detail.show.js"></script>
	<script type="text/javascript" src="../../../js/nova.utils.js"></script>
	<script type="text/javascript" src="../../../js/central.proxy.js"></script>
   <script type="text/javascript" src="./js/index.js"></script>

    <style>
    </style>
</head>

<body>
    <div class="dailytopic-container">
		<div class="area">
			<div class="logo glyphicon glyphicon-file"></div>
			<h2 class="area-title">今日选题</h2>
		</div>
		<div class="dailytopic-list-pane">
			<div class="dailytopic-list-head">
				<span class="glyphicon glyphicon-map-marker"></span>
		        <select id="columnname"></select>
		        <span class="day"></span>
			</div>
			<div class="dailytopic-list">
				<div class="item">
					<div class="item-top">
						<span class="dailytopic-title">江苏省2016年普通高等高校招生工作意见</span>
						<span class="time">30分钟前</span>
						<span class="author">来自徐淑敏</span>
						<span class="checker">审核人:魏小冉</span>
					</div>
					<div class="stage">
						<span class="stage-name">报题待审</span>
						<span class="stage-icon glyphicon glyphicon-exclamation-sign"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>