<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>事件脉络</title>
    <link rel="shortcut icon" href="../../../images/favicon.ico"/>
    <link rel="stylesheet" href="../../../3rd/jquery/jquery-ui.min.css"/>
    <link rel="stylesheet" href="../../../3rd/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../3rd/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../css/default.css" />
    <link rel="stylesheet" href="./css/index.css"/>
    <script type="text/javascript" src="../../../3rd/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../../3rd/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../../3rd/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../js/util.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    <style>
    </style>
</head>

<body>
<div class="subjects-container">
    <div class="area">
        <div class="logo fa fa-calendar"></div>
        <h2 class="area-title">事件脉络</h2>
    </div>
    <div class="subjects-list-pane">
        <div class="subjects-list"></div>
        <div class="axis-y">
            <div class="top">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span class="cur-month"></span>
                <i class="fa fa-play" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
</body>

</html>