* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ffe9ea;
    font-family: "Microsoft Yahei", "微软雅黑", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Segoe UI", Tahoma, Arial, STHeiti, sans-serif;
}

div {
    position: absolute;
}

.report-statistics-page {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@keyframes slideright-keyframes {
    0% {
        transform: translate(-1rem, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

/* .report-statistics-page .area {
    position: absolute;
    top: 4%;
    height: 10%;
    left: 5%;
    color: #ffe9ea;
    text-shadow: 1px 1px 0.04rem rgba(255, 0, 0, 0.40);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    animation: slideright-keyframes 1000ms ease-in-out 0s 1 normal;
    animation-fill-mode: backwards;
}

.report-statistics-page .area > .logo {
    font-size: 0.5rem;
    width: 0.5rem;
    display: block;
    position: relative;
}

.report-statistics-page .area > h2.area-title {
    font-size: 0.36rem;
    border-bottom: solid 0.04rem #f64b4b;
    
    position: relative;
    color: #ffe9ea;
    text-shadow: 1px 1px 0.04rem rgba(255, 0, 0, 0.40);
    margin: 0 0.1rem 0 0.2rem;
}

.blue .area > .logo {
	color: #00fffb;
}

.blue .area > h2.area-title {
	border-bottom: solid 0.04rem #00fffb;
    text-shadow: 1px 1px 0.04rem rgba(0, 233, 255, 0.40);
} */

.gallery-report-statistics {
    top: 14%;
    left: 5%;
    right: 5%;
    bottom: 5%
}

.report-statistics-page .bar-pane {
    top: 4%;
    left: 0;
    right: 60%;
    bottom: 0;
    z-index: 1;
}

.report-statistics-page .pie-pane {
    top: 4%;
    left: 40%;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.report-statistics-page .bar-pane-title {
    top: 0;
    left: 0%;
    right: 60%;
    height: 10%;
    z-index: 1;
    text-align: center;
}
.report-statistics-page .pie-pane-title {
    top: 0;
    left: 40%;
    right: 0;
    height: 10%;
    z-index: 1;
    text-align: center;
}
.report-statistics-page .bar-pane-title > .arrow,.report-statistics-page .pie-pane-title > .arrow{
    font-size: 0.18rem;
    color: #ff0000;
}

.report-statistics-page .bar-pane-title > h3,.report-statistics-page .pie-pane-title > h3 {
    display: inline-block;
    font-size: 0.28rem;
    color: #ffe9ea;
    text-shadow: 0 0.02rem 0.04rem rgba(255, 0, 0, 0.60);
    margin-top: 0;
    margin-bottom: 0;
}

.blue .report-statistics-page .bar-pane-title > .report-statistics-page .pie-pane-title > h3 {
	color:#f4ffff;
	text-shadow:0px 2px 4px rgba(243,255,255,0.50);
}

#keyword {
    background: transparent;
    border: none;
    outline: none;
    z-index: 1000;
}