<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>融媒体指挥中心 - 新媒体内容排行榜</title>
	<link rel="shortcut icon" href="../../../images/favicon.ico" />
	<link rel="stylesheet" href="../../../3rd/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../../3rd/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../../../3rd/pagetransitions/css/component.css" />
	<link rel="stylesheet" type="text/css" href="../../../3rd/pagetransitions/css/animations.css" />
	<link rel="stylesheet" href="../../../css/default.css" />
    <link rel="stylesheet" href="./css/index.css"/>
	<script type="text/javascript" src="../../../3rd/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../../3rd/jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../../3rd/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../../3rd/pagetransitions/js/modernizr.custom.js"></script>
	<script type="text/javascript" src="../../../js/page.transitions.js"></script>
    <script type="text/javascript" src="../../../js/central.proxy.js"></script>
    <script type="text/javascript" src="../../../js/nova.utils.js"></script>
	<script type="text/javascript" src="../../../js/util.js"></script>
	<script type="text/javascript" src="./js/index.js"></script>

    <style>
    </style>
</head>

<body class="wechat-billboard-page">
	<!-- <div class="area">
		<img class="logo" alt="LOGO" src="../../../images/wechat-billboard-logo.png"></img>
		<h2 class="area-title">本台微信发布排行榜</h2>
		<img class="adding-logo" alt="top10" src="../../../images/top10.png"></img>
	</div> -->
	<div class="area">
	        <div class="logo fa fa-wechat"></div>
	        <h2 class="area-title">新媒体内容排行榜</h2>
	        <img class="adding-logo" alt="top10" src="../../../images/top10.png"></img>
	    </div>
    <div class="gallery-wechat-billboard pt-perspective" id="pt-main">
        <div class="header">
        	<div class="up">
	        	<div class="time">2016年4月</div>
<!--  	        <div class="btns">
		            <a class="active">今日</a>
		            <a>本周</a>
		            <a>本月</a>
	            </div> -->
        	</div> 
			<div class="down">
        		<span class="col-xs-2">排名</span>
        		<div class="data col-xs-10">
	        		<span class="col-xs-6">内容</span>
	           		<span class="col-xs-2">阅读数</span>
	           		<span class="col-xs-2">评论数</span>
	           		<span class="col-xs-2">来源</span>
        		</div>
        	</div>
        </div>
        <div class="loading" style="display: none;"><i class="fa fa-spin fa-spinner"></i> 正在获取数据...</div>
    </div>
</body>

</html>