* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* 		    height: 100%; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif;
    background: #333645 url("../../images/bg1920x1080.png") no-repeat fixed center;
    background-size: cover;
}

.player-pane {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.player-pane .title {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #000;
    height: 25%;
}

.player-pane .title table {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.player-pane .title .logo1 {
    width: 15%;
    text-align: right;
}

.player-pane .title .logo1 > img {
    width: 100%;
}

.player-pane .title .text {
    width: 85%;
	font-size: 0.28rem;
    padding-left: 0.28rem;
    font-family: "Microsoft Yahei";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player-pane .title .logo2 {
    text-align: center;
    height: 40%;
    width: 25%;
}

.player-pane .title .logo2 > img {
    height: 3em;
}

.player-pane .title .logo2 > .days {
    margin-top: -10%;
    margin-left: 30%;
    font: bold 1.6em hkww;
    text-shadow: 0.02rem 0.03rem 0.02rem #444;
}

.player-pane .title .logo2 > .days > .num {
    font-size: 0.3rem;
}

.player-pane .video-container {
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    height: 65%;
    z-index: 2;
    text-align: center;
}

/* --------播放器样式控制-------- */
.vodTransparent div.sewise-player-ui div.logo {
    display: none !important;
}

.player-pane .video-container video, .player-pane .video-container .player {
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 0.4rem;
    top: 0;
    background: #020403;;
}

.player-pane .video-container .player-border {
    width: calc(70% + 0.8rem);
    height: calc(100% + 0.2rem);
    position: absolute;
    left: calc(15% - 0.4rem);
    bottom: -0.1rem;
    background: transparent;
    border: solid 1px #a40000;
    z-index: -1;
}

.blue .player-pane .video-container .player-border {
    border: solid 1px #00d4ff;
}

.player-pane .video-container .player-border > .player-border-inner {
    position: absolute;
    left: 0.06rem;
    right: 0.06rem;
    top: -1px;
    bottom: -1px;
    background: transparent;
    border: solid 1px #a40000;
}

.blue .player-pane .video-container .player-border > .player-border-inner {
    border: solid 1px #00d4ff;
}

.player-pane .video-container .player-border > .player-border-inner > .player-border-inner-iner {
    position: absolute;
    left: 0.1rem;
    right: 0.1rem;
    top: 0.02rem;
    bottom: 0.02rem;
    background: transparent;
    border: solid 0.03rem #a40000;
}

.blue .player-pane .video-container .player-border > .player-border-inner > .player-border-inner-iner {
    border: solid 0.03rem #00d4ff;
}

.player-pane .video-container .player-cover {
    position: absolute;
    top: 0;
    left: 15%;
    right: 15%;
    bottom: 0;
    z-index: 101;
    background: #231234;
}

.player-pane .video-container .player-cover span {
    width: 4%;
    height: 0.2rem;
    bottom: 20%;
    height: 20%;
    position: absolute;
    background: #fff;
    -webkit-animation: bodong 0.5s infinite ease;
    -moz-animation: bodong 0.5s infinite ease;
    animation: bodong 0.5s infinite ease;
}

.player-pane .video-container .player-cover span:first-child {
    left: 30%;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
}

.player-pane .video-container .player-cover span:nth-child(2) {
    left: 35%;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    animation-delay: .4s;

}

.player-pane .video-container .player-cover span:nth-child(3) {
    left: 40%;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    animation-delay: .6s;
}

.player-pane .video-container .player-cover span:nth-child(4) {
    left: 45%;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    animation-delay: .8s;
}

.player-pane .video-container .player-cover span:nth-child(5) {
    left: 50%;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.player-pane .video-container .player-cover span:nth-child(6) {
    left: 55%;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.player-pane .video-container .player-cover span:nth-child(7) {
    left: 60%;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

@-webkit-keyframes bodong {
    0% {
        height: 5%;
        background: #FFF;
    }
    30% {
        height: 10%;
        background: #fff;
    }
    60% {
        height: 15%;
        background: #fff;
    }
    80% {
        height: 20%;
        background: #fff;
    }
    100% {
        height: 25%;
        background: #fff;
    }
}

.player-pane .video-container .player-shadow {
    width: 70%;
    background: transparent;
    bottom: 0.05rem;
    height: 0.32rem;
    left: 15%;
    position: absolute;
    z-index: 102;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-pane .video-container .player-shadow .name {
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 0.1rem;
    font-size: 0.2rem;
    text-align: left;
    flex-grow: 1;
}

.player-pane .video-container .player-shadow .btn {
    color: #fff;
    font-size: 0.2rem;
}

.player-pane .video-list {
    position: absolute;
    top: 70%;
    margin-top: 0.2rem;
    right: 5%;
    left: 5%;
    height: 20%;
    z-index: 2;
    -webkit-box-reflect: below 0.03rem -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 0.3)));
}

.player-pane .video-list .slider-outside {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.player-pane .video-list .slider {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 0.08rem;
    position: relative;
    display: inline-block;
    -webkit-transition: left .35s ease;
    transition: left .35s ease;
}

.player-pane .video-list .item {
    width: 20%;
    height: 100%;
    margin: 0;
    float: left;
    text-align: center;
    background: #020403;
    display: block;
/*     border: 1px solid #ccc; */
    position: relative;
}

.player-pane .video-list .item.active {
    border: 0.05rem solid #a40000;
}

.blue .player-pane .video-list .item.active {
    border: 0.03rem solid #00fffb;
}

.player-pane .video-list .item a {
    color: #fff;
	font-size: 0.2rem;
    text-shadow: 1px 0.02rem 1px #555;
}

.player-pane .video-list .item img {
    display: block;
    margin: 0 auto;
    height: 80%;
    max-width: 100%;
}

.player-pane .video-list .item span {
    position: absolute;
    bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

.player-pane .video-list .item span.source-name {
    left: 0;
    right: 0;
}

.player-pane .video-list .item span.video-title {
    left: 0;
    right: 20%;
}

.player-pane .video-list .item span.duration {
    left: 80%;
    right: 0;
}

.player-pane .video-list .item a:hover {
    color: #f00;
}

.player-pane .video-list .item video {
    width: 100%;
}

.player-pane .video-list .slider > .item:first-child {
    margin-left: 0;
}

.player-pane .btn-slide {
    width: 15%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 4%;
}

.player-pane .btn-right.btn-slide {
    right: 0;
}

.player-pane .btn-slide:focus {
    outline: none;
}

.player-pane .btn-slide > img {
    width: 35%;
    margin: 0 -7%;
    -webkit-animation: yinxian 1s infinite ease;
    -moz-animation: yinxian 1s infinite ease;
    animation: yinxian 1s infinite ease;
}

.blue .player-pane .btn-slide > img {
/* 	color:#ddfcff; */
	filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
    -moz-filter: hue-rotate(180deg);
    -o-filter: hue-rotate(180deg);
    -ms-filter: hue-rotate(180deg);
}

.player-pane .btn-slide:disabled > img {
    opacity: 0;
    animation: initial;
}

.player-pane .btn-right.btn-slide > img {
    transform: rotate(180deg);
}

.player-pane .btn-right.btn-slide > img {
    transform: rotate(180deg);
}

.player-pane .btn-left.btn-slide > img:nth-child(2) {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    animation-delay: .4s;

}

.player-pane .btn-left.btn-slide > img:nth-child(3) {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    animation-delay: .2s;
}

.player-pane .btn-right.btn-slide > img:first-child {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    animation-delay: .2s;
}

.player-pane .btn-right.btn-slide > img:nth-child(2) {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    animation-delay: .4s;

}

.player-pane .btn-right.btn-slide > img:nth-child(3) {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    animation-delay: .6s;
}

@-webkit-keyframes yinxian {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}