<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>融媒体指挥中心</title>
	<link rel="shortcut icon" href="../../../images/favicon.ico" />
    <link rel="stylesheet" href="../../../3rd/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../css/default.css" />
    <link rel="stylesheet" href="./css/index.css"/>
    <script type="text/javascript" src="../../../3rd/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../../3rd/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../../3rd/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../js/util.js"></script>
    <script type="text/javascript" src="../../../3rd/echarts/echarts.3.1.9.min.js"></script>
    <script type="text/javascript" src="../../../js/central.proxy.js"></script>
    <script type="text/javascript" src="../../../js/nova.utils.js"></script>
    <script type="text/javascript" src="../../../js/detail.show.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    <style>
    </style>
</head>

<body>
<!-- canvas id="canvas"></canvas-->
<div class="daily-clue-container">
    <div class="area">
        <div class="logo glyphicon glyphicon-zoom-in"></div>
        <h2 class="area-title">今日线索</h2>
    </div>
    <div class="tonglian-clue-container">
        <div class="tonglian-clue-map-container">
            <div class="tonglian-clue-bg-map"></div>
            <div class="tonglian-clue-map"></div>
        </div>
        <div class="tonglian-clue-list"></div>
    </div>
    <div class="phone-clue-container">
        <div class="phone-clue-list"></div>
    </div>
</div>
</body>

</html>