<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>融媒体指挥中心 - 热词关联</title>
	<link rel="shortcut icon" href="../../../images/favicon.ico" />
    <link rel="stylesheet" href="../../../3rd/bootstrap/css/bootstrap.min.css"/>
    <!-- <link rel="stylesheet" href="../../../css/default.css" /> -->
    <link rel="stylesheet" href="./css/index.css"/>
    <link rel="stylesheet" href="../../../css/animations.css" />
    <link rel="stylesheet" href="../../../3rd/font-awesome/css/font-awesome.min.css" />   
<!--     <link rel="stylesheet" href="../../../3rd/li-marquee/css/liMarquee.css" /> 
    <link rel="stylesheet" href="../../../3rd/li-marquee/css/normalize.css" />  -->
    <script type="text/javascript" src="../../../3rd/echarts.min.js"></script>
    <script type="text/javascript" src="../../../3rd/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../../3rd/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../../3rd/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../3rd/li-marquee/js/jquery.liMarquee.js"></script>
    <script type="text/javascript" src="../../../js/nova.utils.js"></script>
	<script type="text/javascript" src="../../../js/central.proxy.js"></script>
    <script type="text/javascript" src="../../../js/util.js"></script>
    <script type="text/javascript" src="../../../js/detail.show.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>


    <style>
    </style>
</head>

<body>
<div class="report-statistics-page">
    <div class="area">
        <h2 class="area-title">热词关联：</h2>
    </div>
    <div class="gallery-report-statistics">
        <div class="pie-pane" id="graphic">
        </div>
    </div>
    <div class="loading" style="display: none;"><i class="fa fa-spin fa-spinner"></i> 正在获取数据...</div>
</div>

</body>

</html>
