<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>气象排行</title>
	<link rel="shortcut icon" href="../../images/favicon.ico" />
	<link rel="stylesheet" href="../../3rd/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../3rd/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../css/default.css" />
    <link rel="stylesheet" href="./css/index.css"/>
	<script type="text/javascript" src="../../3rd/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../3rd/jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../3rd/echarts/echarts.3.1.9.min.js"></script>
	<script type="text/javascript" src="../../3rd/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/util.js"></script>
	<script type="text/javascript" src="./js/index.js"></script>

    <style>
    </style>
</head>

<body>
<div class="weather-forecast-page">
	<div class="area">
<!-- 	        <div class="logo fa fa-cloud"></div> -->
	        <h2 class="area-title">气象排行</h2>
	</div>
	<div id="broadcast" class="carousel slide down">
		<!-- 轮播（Carousel）指标 -->
<!-- 		<ol class="carousel-indicators">
			<li data-target="#broadcast" data-slide-to="0" 
				class="active"></li>
			<li data-target="#broadcast" data-slide-to="1"></li>
			<li data-target="#broadcast" data-slide-to="2"></li>
			<li data-target="#broadcast" data-slide-to="3"></li>
			<li data-target="#broadcast" data-slide-to="4"></li>
			<li data-target="#broadcast" data-slide-to="5"></li>
			<li data-target="#broadcast" data-slide-to="6"></li>
			<li data-target="#broadcast" data-slide-to="7"></li>
			<li data-target="#broadcast" data-slide-to="11"></li>
			<li data-target="#broadcast" data-slide-to="12"></li>		
		</ol>  -->  
		<!-- 轮播（Carousel）项目 -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="./img/weather-1.png" alt="1">
			</div>
			<div class="item">
				<img src="./img/weather-2.png" alt="2">
			</div>
			<div class="item">
				<img src="./img/weather-3.png" alt="3">
			</div>
			<div class="item">
				<img src="./img/weather-4.png" alt="4">
			</div>
			<div class="item">
				<img src="./img/weather-5.png" alt="5">
			</div>
			<div class="item">
				<img src="./img/weather-6.png" alt="6">
			</div>
			<div class="item">
				<img src="./img/weather-7.png" alt="7">
			</div>
			<div class="item">
				<img src="./img/weather-11.png" alt="11">
			</div>
			<div class="item">
				<img src="./img/weather-12.png" alt="12">
			</div>
		</div>
	</div> 
</div>
</body>

</html>