<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<title>融媒体指挥中心</title>
		<link rel="shortcut icon" href="../../../images/favicon.ico" />
		<link rel="stylesheet" href="../../../3rd/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../3rd/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../../../css/default.css" />
    	<link rel="stylesheet" href="./css/index.css"/>
		<script type="text/javascript" src="../../../3rd/jquery/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="../../../3rd/jquery/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../../3rd/echarts/echarts.3.1.9.min.js"></script>
		<script type="text/javascript" src="../../../3rd/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../../js/nova.utils.js"></script>
		<script type="text/javascript" src="../../../js/util.js"></script>
		<script type="text/javascript" src="../../../js/central.proxy.js"></script>
		<script type="text/javascript" src="./js/index.js"></script>

		<style>
		</style>
	</head>

	<body>
	
		<div class="cloud-page">
			<div class="area">
				<div class="logo fa fa-tv"></div>
				<h2 class="area-title">艾默生空调监控</h2>
			</div>
			<div class="gallery-cloud">
				<div class="left-pane" id="air1">
					<div class="pane-title">
						<span class="shape color-yellow"></span>
						<span class="shape color-yellow"></span>
						<span class="shape"></span>
						<span class="shape"></span>
						精密空调1
						<span class="shape"></span>
						<span class="shape"></span>
						<span class="shape"></span>
						<span class="shape"></span>
					</div>
					<div class="pane-down">
						<div class="top">
							<div class="top-left">
								<div class="up-title width-m1">运行状态</div>
								<div class="topleft-content operate-state">
									<div class="temperature">
										<div class="temperature-bar">
											<div class="temperature-reality"></div>
											<div class="tem-text" id="tem-text"></div>
										</div>
										<div class="pad">温度</div>
										<div class="pad">[设定温度：<span id="tem-text"></span>]</div>
									</div>
									<div class="humidity">
										<div class="humidity-bar">
											<div class="humidity-reality"></div>
											<div class="hum-text" id="hum-text"></div>
										</div>
										<div class="pad">湿度</div>
										<div class="pad">[设定湿度：<span id="hum-text"></span>]</div>
									</div>
								</div>
							</div>
							<div class="top-right">
								<div class="up-title width-m2">硬件状态</div>
								<div class="topright-content hardware-state">
									<div class="line row1">
										<div class="tiles">
											<span class="air1-hardware1">风机</span><span class="warn-bar1"></span>
										</div>
										<div class="tiles">
											<span class="air1-hardware4">压缩机1</span><span class="warn-bar1"></span>
										</div>
									</div>
									<div class="line">
										<div class="tiles">
											<span class="air1-hardware2">加湿器</span><span class="warn-bar1"></span>
										</div>
										<div class="tiles">
											<span class="air1-hardware5">压缩机2</span><span class="warn-bar1"></span>
										</div>
									</div>									
									<div class="line">
										<div class="tiles">
											<span class="air1-hardware3">除湿器</span><span class="warn-bar1"></span>
										</div>
										<div class="tiles">
											<span class="air1-hardware6">加压器</span><span class="warn-bar1"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="down-down">
							<div class="up-title">报警状态</div>
							<div class="downdown-content warn-state">
								<div class="air1-warntotal a">
									<div class="b">
										<div class="c">
											<div class="d">
												<p class="text">总报警</p>
											</div>
											<p class="y"><span class="y1"></span></p>
										</div>
									</div>
								</div>
								<div class="line row1">
										<div class="tiles">
											<span class="air1-warn1">风机故障</span><span class="warn-bar1"></span>
										</div>
										<div class="tiles">
											<span class="air1-warn2">压缩机故障</span><span class="warn-bar1"></span>
										</div>
										<div class="tiles">
											<span class="air1-warn3">加湿器故障</span><span class="warn-bar1"></span>
										</div>
								</div>
								<div class="line row2">
									<div class="tiles">
										<span class="air1-warn6">高温报警</span><span class="warn-bar1"></span>
									</div>
									<div class="tiles">
										<span class="air1-warn7">低温报警</span><span class="warn-bar1"></span>
									</div>
									<div class="tiles">
										<span class="air1-warn8">高湿报警</span><span class="warn-bar1"></span>
									</div>
									<div class="tiles">
										<span class="air1-warn9">低湿报警</span><span class="warn-bar1"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="bottom-bar">
							<div class="legend">
								<span class="green bg1"></span>正常
							</div>
							<div class="legend">
								<span class="yellow bg2"></span>报警
							</div>
							<div class="legend">
								<span class="red bg3"></span>故障
							</div>
						</div>
					</div>
				</div>
				<div class="right-pane" id="air2">
					<div class="pane-title">
						<span class="shape color-yellow"></span>
						<span class="shape color-yellow"></span>
						<span class="shape"></span>
						<span class="shape"></span>
						精密空调2
						<span class="shape"></span>
						<span class="shape"></span>
						<span class="shape"></span>
						<span class="shape"></span>
					</div>
					<div class="pane-down">
						<div class="top">
							<div class="top-left">
								<div class="up-title width-m1">运行状态</div>
								<div class="topleft-content operate-state">
									<div class="temperature">
										<div class="temperature-bar">
											<div class="temperature-reality"></div>
											<div class="tem-text" id="tem-text"></div>
										</div>
										<div class="pad">温度</div>
										<div class="pad">设定温度：<span id="tem-text"></span></div>
									</div>
									<div class="humidity">
										<div class="humidity-bar">
											<div class="humidity-reality"></div>
											<div class="hum-text" id="hum-text"></div>
										</div>
										<div class="pad">湿度</div>
										<div class="pad">设定温度：<span id="hum-text"></span></div>
									</div>
								</div>
							</div>
							<div class="top-right">
								<div class="up-title width-m2">硬件状态</div>
								<div class="topright-content hardware-state">
									<div class="line row1">
										<div class="tiles">
											<span class="air1-hardware1">风机</span><span class="warn-bar1"></span>
										</div>
										<div class="tiles">
											<span class="air1-hardware4">压缩机1</span><span class="warn-bar1"></span>
										</div>
									</div>
									<div class="line">
										<div class="tiles">
											<span class="air1-hardware2">加湿器</span><span class="warn-bar1"></span>
										</div>
										<div class="tiles">
											<span class="air1-hardware5">压缩机2</span><span class="warn-bar1"></span>
										</div>
									</div>									
									<div class="line">
										<div class="tiles">
											<span class="air1-hardware3">除湿器</span><span class="warn-bar1"></span>
										</div>
										<div class="tiles">
											<span class="air1-hardware6">加压器</span><span class="warn-bar1"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="down-down">
							<div class="up-title">报警状态</div>
							<div class="downdown-content warn-state">
								<div class="air1-warntotal a">
									<div class="b">
										<div class="c">
											<div class="d">
												<p class="text">总报警</p>
											</div>
											<p class="y"><span class="y1"></span></p>
										</div>
									</div>
								</div>
								<div class="line row1">
										<div class="tiles">
											<span class="air1-warn1">风机故障</span><span class="warn-bar1"></span>
										</div>
										<div class="tiles">
											<span class="air1-warn2">压缩机故障</span><span class="warn-bar1"></span>
										</div>
										<div class="tiles">
											<span class="air1-warn3">加湿器故障</span><span class="warn-bar1"></span>
										</div>
								</div>
								<div class="line row2">
									<div class="tiles">
										<span class="air1-warn6">高温报警</span><span class="warn-bar1"></span>
									</div>
									<div class="tiles">
										<span class="air1-warn7">低温报警</span><span class="warn-bar1"></span>
									</div>
									<div class="tiles">
										<span class="air1-warn8">高湿报警</span><span class="warn-bar1"></span>
									</div>
									<div class="tiles">
										<span class="air1-warn9">低湿报警</span><span class="warn-bar1"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="bottom-bar">
							<div class="legend">
								<span class="green bg1"></span>正常
							</div>
							<div class="legend">
								<span class="yellow bg2"></span>报警
							</div>
							<div class="legend">
								<span class="red bg3"></span>故障
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>