<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>地图监控</title>
	<link rel="shortcut icon" href="../../../images/favicon.ico" />
	<link rel="stylesheet" href="../../../3rd/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../../3rd/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../css/default.css" />
    <link rel="stylesheet" href="./css/index.css"/>
    
	<script type="text/javascript" src="../../../3rd/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../../3rd/jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../../3rd/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../../3rd/md5.js"></script>	
    <script type="text/javascript" src="../../../js/central.proxy.js"></script>
    <script type="text/javascript" src="../../../js/nova.utils.js"></script>
	<script type="text/javascript" src="../../../js/util.js"></script>
	<script type="text/javascript" src="js/convertor.js"></script>
	<script type="text/javascript" src="js/map.js"></script>
	<script type="text/javascript" src="./js/index.js"></script>
    <style>
    </style>
</head>

<body class="map-all-page">
	<div id="map_resource"></div>
</body>

</html>
