<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>广播 电视</title>
	<link rel="shortcut icon" href="../../../images/favicon.ico" />
    <link rel="stylesheet" href="./css/index.css"/>
	<script type="text/javascript" src="../../../3rd/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../../3rd/sewise/sewise.player.min.js"></script>
	<script type="text/javascript" src="../../../js/util.js"></script>
	<script type="text/javascript" src="./js/index.js"></script>
</head>

<body>
    <div class="player-pane player-container">
		<div class="video-container">
		    <div class="player" id="player">
		    </div>
		</div>
	</div>
</body>

</html>